/*Orden en que van los elementos:
1.- Pseudo-elementos
	Contiene atributos

2.- Etiquetas <etiqueta>
	Contiene atributos

3.- Identificadores
	Contiene atributos

4.- Clases
	Contiene atributos

5.- Elemento de responsive design
	(diseño adaptativo)
		Contiene atributos


Todos ellon en orden alfabético.
Tanto elementos como atributos
padding: 5px; 						//Todos
padding: 5px 10px;					//Horizontales, Verticales
		<- ->  ^v
padding: 5px 10px 2px 8px;			//Arriba, Derecha. Abajo, Izquierda
		  ^   ->   v   <-
Van en sentido del reloj.
*/
body{	
			  /*#RRVVAA
			  	rgb(RRR,AAA,VVV)
			  	rgba(RRR,AAA,VVV,Transparecia)*/

	background: white;
	border: 1px solid red;
	margin: 0px auto;
	color: black;
	font-size: 16px;
	max-width: 1024px;
}

header{
	border:1px solid blue;
	text-align: center
}
header img{
	float:right;
	margin: -70px 20px 0px 0px;
	width: 90px;
}
header nav ul li{
	/*	border: 1px solid tomato;*/
	background: blue;
	border-radius: 10px;
	color: white;
	display: inline-block;
	padding: 5px;
	margin: 0px 10px 0px 10px;
	width: 80px;
}