body{
	border: 1px solid blue;
	font-size: 16px; /*1em*/
	font-family: sans-serif;
	margin: 0px auto;
	max-width: 1024px;
}

header{
	background: #B3D8EB;
}

#logo{
	margin-top: -150px;
}

header nav{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 1px 0px 1px 0px;
	margin: 0 auto;
	width: 99%;
}

header nav ul li{
	color: white;
	display: inline-block;
	margin-right: 20px;
}

form{
	float: right;
	margin: -40px 20px 0px 0px;
}

form input{
	border-radius: 5px;
}

form input[type="button"]{
	background: green;
	color: white;
}

#seccion01 article{
	/*border: 1px solid red;*/
	text-align: center;
}

#seccion01 article img{
	border: 5px solid rgba(150,150,150,0.5);
	margin-top: 5px;
	width: 98%;
}

#seccion02 article{
	display: inline-block;
	vertical-align: top;
	width: 32.5%
}
.otraSeccion,.unaSeccion{
	font-weight: bold;
	font-family: verdana;
}

.unaSeccion {
	font-size: 4.5em;
}

.otraSeccion{
	font-size: 2.5em;
}

#seccion02 article input{
	color: blue;
	background: white;
	margin: 0px 35% ;
	border-radius: 1px;
}