body{
	font-size: 16px;	/*1em*/
	max-width: 1078px; 
	min-width: 1078px;
	margin: 0px auto;
/*	border: 1px solid green;*/
	font-family: sans-serif;
}

header input{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative; /*static,absolute,fixed*/
}
 
header nav ul{
/*	border: 1px solid red;*/
	margin-left: 220px;
	margin-bottom: 80px;
}

header nav ul li{
	display: inline-block;
	margin-right: 15px;
	font-size: 1.8em;
	color: gray;
	border-bottom: 1px solid gray; /*dashed*/
	/*text-decoration: underline;*/
}

#grantham{
	margin-top: 20px;
	margin-left: 15px;
}

#pintura{
	float: right;
}

#oferta{
	margin-bottom:25px;
}

#Seccion1 article{
	display: inline-block;
	vertical-align: top;
}

#s1a1{
	width: 60%;
}

#s1a1 img{
	width: 100%;
}

#s1a2{
	margin-left: 50px;
	width: 30%;
}

.colorrosa{
	color: violet;
	font-weight: bold;
}
.colorverde{
	color: green;
}
.colorazul{
	color: blue;
}

